<h2>Swimmer Home</h2>

<p><a asp-controller="Add profile">Add profile</a></p>
<p><a asp-controller="Sign up for a session">Sign up for a session</a></p>
<p><a asp-controller="Check progress report">Check progress report</a></p>
