@model CourseProject.ViewModels.AccountRegisterViewModel

<h2>User Registration</h2>
<form asp-action="Register" method="post">
    <!--displays all error messages in this place if any-->
    <div asp-validation-summary="All"></div>
    <label asp-for="Email    "></label>
    <input asp-for="Email" />
    <!--displays error message related to email in that span element if any-->
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <!--displays error message related to password in that span element if any-->
    <span asp-validation-for="Password"></span>
    <br />
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <!--displays error message related to ConfirmPassword in that span element if any-->
    <span asp-validation-for="ConfirmPassword"></span>
    <br />
    <!--makes register button on registration form work-->
    <button type="submit">Register</button>
</form>